*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
}body {
  margin-top: 80px;
  font-family: "Inter";
  max-width:1440px;
  max-height:1024px;
  width:1440px;
  height:1024px;
}
#main_img {
  height: 691px;
  width: 587px;
  left: 80px;
  border-radius: 10px;
  border: 1px solid #edf0f8;
}
#left{
  width:fit-content;
}
#secondary_images_pics{
  width:fit-content;
  margin:auto;
  display:flex;
}
.secondary_images {
  width:115px;
  height:115px;
  margin:0px;
  border-radius:6px;
  margin-top:37px;
  margin-right:20px;
}
.secondary_images:nth-child(4){
  margin-right:0px;
}
.container{
  display:flex;
  margin-left:40px;
  margin-top:80px;
  height:843px;
  width:1317px;
}

#right +p{
  margin-top:6px;
}
#right{
  margin-left:110px;
  font-size:16px;
  color: #B9BBBF;
}
#prod_ven{
  height:19px;
  font-weight:400px;
  line-height:19.36px;
}
#prod_title{
  color:#000000;
  font-size:28px;
  font-weight:600;
  margin-top:11px;
  height:auto;
}
#first_hr{
  margin-top:17px;
  border-width:1px;
  border-color:#E4E4E4;
  width:582px;
}
.lines{
  height:1px;
}
#Frame_17{
  height:72px;
  width:183px;
  margin-top:20px;
  margin-bottom:10px;
}
#price{
  font-weight:700;
  font-size:34px;
  line-height:41.15px;
  color: #3A4980;
  /* padding-top:8px;  */
}
del{
  margin-top:6px;
  margin-bottom:10px;
  font-weight: 400;
  font-size:21px;
  line-height:25.41px;
  color: #00000080;
}
#Frame_17_par{
  display:flex;
  flex-direction:row;
  gap:17px;
}
#disc_per{
  margin-top:28px;
  color:#FF000080;
  font-size:21px;
  font-weight: 400;
  line-height: 25.41px;
}
#colors_div{
  margin-top:30px;
  width:292px;
  height:96px;
  margin-bottom:30px;
}
#real_colors_flex{
  margin-top:13px;
  display:flex;
  height:64px;
  gap:12px;
}
.real_colors_outer_div{
  width:64px;
  height:64px;
  display:flex;
  justify-content:center;
  align-items:center;
}
#Yel{
  border:3px solid #ECDECC;
}
#Grn{
  border:0px solid #BBD278;
}
#Blu{
  border: 0px solid #BBC1F8;
}
#Pnk{
  border :0px solid #FFD3F8;
}
#Yellow{
  background-color:#ECDECC;
}
#Green{
  background-color:#BBD278;
}
#Blue{
  background-color:#BBC1F8;
}
#Pink{
  background-color:#FFD3F8;
}
.actual_colors{
  width:50px;
  height:50px;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:center;
}
#sizes_root_div {
  margin-top:30px;
  margin-bottom:14px;
}
.size_sec{
  background-color:#F3F3F3;
  height:31px;
  padding:7px 10px 7px 10px;
  border-radius: 8px;
  display:flex;
  align-items:center;
}
#size_flex{
  display:flex;
  width:497px;
  height:31px;
  gap:11px;
  margin-top:14px;
  font-size:14px;
}
input[type ="radio"]{
  height:16px;
  width:16px;
}
.size_sec span{
  margin-left: 8px;
}
#small span{
  width:37px;
}
#medium span{
  width:54px;
}
#large span{
  width:38px;
}#Extra_Large span{
  width:77px;
}#XXL span{
  width:27px;
}
#buttons_div{
  width:497px;
  height:59px;
  display:flex;
  gap:19px;
  margin-top:40px;
  margin-bottom:31px;
}
#quant_button{
  width:169px;
  height:59px;
  border-radius:29.5px;
  background-color: #F3F3F3;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}
#quant_button span{
  font-weight:700;
  font-size:18px;
  height:22px;
  color: #3A4980;
}
#quant_button span:nth-child(1){
  margin-left:27px;
  color: #A3A3A3;
}
#quant_button span:nth-child(3){
  margin-right:24px;
}
#quant_button span:nth-child(2){
  font-size:22px;

}
#Add_to_cart{
  width:309px;
  height:59px;
  background-color:#3A4980;
  border-radius: 29.5px;
  color:#FFFFFF;
}
#Add_to_cart img{
  width:15.53px;
  height:17.06px;
  border:1.5px;
}
#Add_to_cart span{
  font-size:16px;
  font-weight: 600;
  line-height: 19.36px;
  width:93px;
  height:19px;
  display:flex;
  align-items:center;
}
#add_to_cart_cont{
  height:21px;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;
}
#description{
  font-size:20px;
  font-weight:300;
  line-height: 28px;
  width:558px;
  height:224px;
  margin-top:34px;
}
.size_sec span{
  color:#726C6C;
}
#purchase{
  background-color:#E7F8B7;
  width:530px;
  height:31px;
  border-radius:8px;
  font-weight:600;
  font-size:14px;
  color:#000000;
  display:flex;
  align-items: center;
  display:none;
  margin-bottom:17px;
}
#purchase p{
  margin-left:23.5px;
  margin-right:14.5px;
}
@media screen and (max-width:1440px)
{
  body{
    width:100vw;
  }
}
@media screen and (max-width:1370px)
{
  #right,#first_hr{
    width:42.4vw;
  }
  #right{
    margin-left:8vw;
  }
  .container{
    width:96.13vw;
    margin-left:2.91vw;
  }
  #description{
    width:40.7vw;
  }
}
@media screen and (max-width:1340px)
{
  #main_img{
    width:43.8vw;
    height:51.5vw;
  }
  .secondary_images {
    width:8.6vw;
    height:auto;
  }
  #sizes_root_div{
    overflow-x:scroll ;
  }
}
@media screen and (max-width:1170px)
{
  #Add_to_cart{
    width:26.5vw;
  }
  #quant_button{
    width:14.5vw;
  }
  #buttons_div{
    width:42.4vw;
  }
}